<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f4f4;
    }

    .calculos {
        max-width: 600px;
        margin: 20px auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    input {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

    select {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    
    label.result-label {
        font-weight: bold;
        color: black;
        display: block;
        margin-top: 10px;
    }
</style>

<center>
    <section class="calculos">
        <div id="formulario">
            <form action="/cotizacion" method="post">
                <br><label for="">Valor de Automovil</label>
                <input type="number" name="valor" id="valor" required value=<%= valor %>> <br><br>
                <label for="">Porcentaje de Pago Inicial</label>
                <input type="number" name="pinicial" id="pinicial" required value=<%= pinicial %>> <br><br>
                <label for="">Plazos</label>
                <select name="plazos" id="plazos" value=<%= plazos %>>
                    <option value="12">12 Meses</option>
                    <option value="24">24 Meses</option>
                    <option value="36">36 Meses</option>
                    <option value="48">48 Meses</option>
                    <option value="60">60 Meses</option>
                </select> <br><br>
                <button type="submit">Calcular</button>
                <button type="reset"><a style="color: white; text-decoration: none;" href="/cotizacion">Limpiar</a></button>
            </form>
        </div>

        <%
            let pagoInicial = valor * (pinicial / 100);
            let total = valor - pagoInicial;
            let pagomensual = total / plazos;
            if (isNaN(pagoInicial)) {
                pagoInicial = 0;
            }
            if (isNaN(total)) {
                total = 0;
            }
            if (isNaN(pagomensual)) {
                pagomensual = 0;
            }
            pagomensual = pagomensual.toFixed(2);
            pagoInicial = pagoInicial.toFixed(2);
            total = total.toFixed(2);
        %>
        <br><h3>Detalles del Financiamiento</h3><br>
        <label class="result-label">Pago inicial: $ <%= pagoInicial %></label>
        <label class="result-label">Total a financiar: $ <%= total %></label>
        <label class="result-label">Plazos: <%= plazos %> </label>
        <label class="result-label">Pago mensual: $ <%= pagomensual %></label><br>
    </section>
</center>

<%- include('partials/footer.ejs') %>
