<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<style>
   
    main {
        flex-grow: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px; /* Ajusta según sea necesario */
    }

    section {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 100%;
        max-width: 600px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label {
        font-size: 18px;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        margin-bottom: 16px;
    }

    h3 {
        margin: 8px 0;
        color: #333;
    }
</style>

<main>
    <section>
        <form action="/tabla" method="post">
            <label for="numero">Tabla</label>
            <input type="number" id="numero" name="numero" required value="<%= numero %>">
            <button type="submit">Enviar</button>
            <button type="reset"><a style="color: white; text-decoration: none;" href="/tabla">Limpiar</a></button>

            <% let res = 0; if (numero != null) { for (let con = 1; con <= 10; ++con) { res = con * numero; %>
                <h3>
                    <%= numero %> * <%= con %> = <%= res %>
                </h3>
                <% } } %>
        </form>
    </section>
</main>

<%- include('partials/footer.ejs') %>
